[Unit]
Description=Fetch Lavalink server password from Secret Manager
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/lavalink/scripts/fetch-secrets.sh
RemainAfterExit=true
