[Unit]
Description=Fetch Valheim server password from Secret Manager
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/valheim/scripts/fetch-secrets.sh
RemainAfterExit=true
